<!-- template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Message}}</h1>
    <ul>
        {{range .Items}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <p>u2</p>
    <p>myzhaohuan{{ .u2 .Name}}</p>
    <p>myzhaohuan{{ .u2 .Age}}</p>
    <p>myzhaohuan{{ .u2 .Gender}}</p>
</body>
</html>